

body{
    font-family: 'Karla', sans-serif;
/* font-family: 'Poppins', sans-serif; */
display: grid;
background-color: #141414;
grid-template-columns: 25% 75%;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 3%;
}

/* Desktop */

/* Header */
header{
    padding: 15% 0;
    margin: 0;
    width: 100%;
}
nav{
    position: fixed;
    left: 2%;
    width: 20%; 
}
.sem_img {
    display: flex;
    justify-content: center;
}
.sem_img img{
    border-radius: 10px;
    width: 40%;
}
.sem_name {
    text-align: center;
    padding: 10% 0;
}
.name {
    font-size: clamp(18px, 2vw, 25px);
    color: #E0E0E0;
    line-height: 160%;
}
.profession {
    color: #838383;
    font-size: clamp(18px, 2vw, 25px);
}
.sem_social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.sem_menu_list {
    margin: 15% 0;
    display: flex;
    flex-direction: column;
}
.sem_social_link{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}
.sem_menu_link {
    padding: 10px;
    
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    border-radius: 10px;

    transition: all .5s ease-in-out;
}
.sem_menu_link_text{
    color: #A1A1A1;
    font-size: clamp(16px, 2vw, 20px);
}
.sem_menu_link_text_active{
    color: #E0E0E0;
}
.sem_menu_link_active{
    background-color: #353535;
    color: #E0E0E0;
    border-radius: 10px;
}
.sem_menu_link_img {
    margin-right: 3%;
    width: 9%; 
}
.sem_theme {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}
.sem_btn_open_menu{
    padding: 0 1em 0 1.5em;
    display: none;
}

/* Main */

main{
    background-color: #1A1A1A;
    border-radius: 20px;
    margin: 1em .5em 1em 0;
    padding: 1em 0 4em 0;
}

/* Greeting */

.greeting {
    padding: 10% 0;
}
.ready_for_work {
    display: flex;
    align-items: center;
    gap: 1%;
    color: #00D26C;
    padding: 8px 20px;
    background-color: #143325;
    display: inline-block;
    border-radius: 15px;
}
.hello {
    margin: 3% 0;
}
.hello_title{
    color: #fff;
    font-size: clamp(25px, 3vw, 40px);
    line-height: 140%;
}
.hello_text {
    color: #A3A3A3;
    font-weight: 800;
    font-size: clamp(20px, 3vw, 35px);
}
.place_author {
    display: flex;
    align-items: center;   
}
.place_author_img img{
    width: 60%;
}
.place_author_city {
    color: #F2B28D;
    font-size: clamp(16px, 3vw, 21px);
}
.overview{
    margin: 4% 0;
}
.overview_text {
    color: #A3A3A3;
    font-size: clamp(16px, 3vw, 21px);
}
.greeting_btns{
    display: flex;
    align-items: center;
    gap: 3%;
}
.btn_about{
    color: #e8e8e8;
    padding: 2% 3%;
    background-color: #3A3A3A;
    border: 1px solid #3A3A3A;
    border-radius: 10px;

    transition: all .5s ease-in-out;
}
.btn_copy_mail{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #e8e8e8;
    padding: 2% 3%;
    border: 1px solid #3A3A3A;
    border-radius: 10px;

    transition: all .5s ease-in-out;

}

/* Project */

.project {
    padding: 3% 0;
}
.project_title {
    color: #fff;
    font-size: clamp(20px, 3vw, 35px);
    font-weight: 300;
}
.project_layout {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.project_item_img{
    overflow: hidden;
    border-radius: 20px;
    bottom: 0;
}
.project_item_img a{
    display: flex;
}
.project_item img{
    width: 100%;
    transition: all .5s ease-in-out;
}
.project_item img:hover{
    transform: scale(1.1);
}
.project_item_text {
    margin-top: 3%;
}
.project_item_title {
    padding: 5% 0 3% 0;
    color: #EFEFEF;
    font-size: 18px;
}
.project_item_description {
    color: #959595;
    font-size: 16px;
}

/* Review */

.review {
    padding: 10% 0 0 0;
}
.review_title {
    color: #fff;
    font-weight: 300;
    font-size: clamp(20px, 3vw, 35px);
}
.review_layout {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;


    overflow: hidden;
    max-height: 680px;
    height: 100%;
}
.review_item {
    padding: 2em;
    background-color: #282828;
    border-radius: 1em;

    position: relative;
}

.review_item_grad{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #282828;
    background: linear-gradient(rgba(40, 40, 40, 0), rgba(26, 26, 26, 1));
}
.review_item_text {
    color: #e8e8e8;
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 300;
}
.review_info_client {
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.review_info_client img{
    width: 20%;
}
.review_clients_name {
    color: #E9E9E9;
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 400;
}
.review_btn {
    text-align: center;
    margin-top: 2em;
}
.review_btn_link {
    color: #e8e8e8;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;

    transition: all .5s ease-in-out;
}








/* Mobile Menu */

.menu_mobile{
    color: #fff;
    display: none;
}

.menu_mobile {
    margin-top: 1em;
    border-top: 1px solid #fff3;
    padding: 5%;
}
.nav_mobile_list {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.nav_mobile_link {
    font-size: clamp(12px, 3vw, 16px);
    color: #A1A1A1;
    padding: 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: .5em;
}
.nav_mobile_link_active {
    color: #fff;
    background-color: #353535;
}
.nav_mobile_social {
    border-top: 1px solid #fff2;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 2em;
}


.sem_btn_close_menu{
    display: none;
    padding: 0 1em 0 1.5em;
}
